.container {
  /* background-image: url(./images/CNY_BG.jpg);
  background-repeat: no-repeat;
  background-size: cover; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.background-image {
  background-image: url(./images/CNY_BG.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}